*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Avenir Heavy", "Avenir Light", "Avenir Medium", sans-serif;
  background-color: #f5f5f5;
  letter-spacing: 0.1px;
}

@import "layout/section";

