.flex {
  display: flex;
  margin-top: 10px;
  #custom-cells-events {
    margin-left: 20px;
  }
}
.button-holder {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.available {
  position: absolute;
  border: 1px solid #008be9;
  width: 40px;
  height: 36px;
  border-radius: 10%;
  left: 0;
  bottom: 0;


  .-selected- & {
    bottom: 0;
  }
}
.timeselectButton {
  padding: 20px;
  background-color: #ffffff;
  color: #008be9;
  border: none;
  margin: 3px 0;
  outline: none;
}
.selected {
  background-color: #008be9;
  color: #ffffff;
}

